<% content_for :header do %>
  <div id="header" class="bordered">
    <div class="banner">
      <%= link_to Mist.title, posts_path %>
      
      <div class="author">
        with <%= mail_to Mist.author.email, Mist.author.name %>
      </div>
    </div>

    <div class="admin">
      <%= authorized_link :create_post, 'New Post', new_post_path %>
    </div>
  </div>
<% end %>

<% if @posts.empty? %>
  <div class="post bordered">
    <div class="title">
      <h1>
        o hai!
      </h1>
    </div>

    <p>
      Welcome to my new blog! I'll have some decent content up in no time &mdash; promise!
    </p>
  </div>
<% else %>
  <%= render_posts %>
<% end %>
