<% content_for :header do %>
  <div id="header" class="bordered">
    <div class="banner">
      <%= link_to 'Blog Title', posts_path %>
      
      <div class="author">
        with <%= link_to 'John Doe', '/' %>
      </div>
    </div>

    <div class="admin">
      <%= authorized_link :create_post, 'New Post', new_post_path %>
    </div>
  </div>
<% end %>

<% @posts.each_with_index do |post, index| %>
  <%= render :partial => 'post', :locals => { :post => post, :preview => index != 0 }%>
<% end %>
